//- Main footer.
footer#global-footer
  div(class= django ? '{{ containerclass }}' : page.fluid ? 'container-fluid' : 'container')
    .row
      .col-xs-2.col-sm-6.col-lg-4.text-left-xs.text-left-sm.text-left-md.text-left-lg
        p.copyright.hidden-xs &copy; European Centre for Medium-Range Weather Forecasts
        p.copyright.visible-xs &copy; ECMWF
      .col-xs-10.col-sm-6.col-lg-4.col-lg-push-4.text-right-xs.text-right-sm.text-right-md.text-right-lg
        ul.legal-menu
          each entry, i in footer.global.menu
            li
              a(href='#{entry.href}') #{entry.name}
      .col-md-12.col-lg-4.col-lg-pull-4.text-center-xs.text-center-sm.text-center-md.text-center-lg
        if (build == 'site')
          include social-icons.jade
