//- Web site footer.
footer#site-footer
  .container
    #site-footer-menu.row
      each menu in footer.site.menu
        .col-xs-4.col-sm-6.col-md-4.col-lg-2
          ul
            li.text-center-xs
              a(href='#{menu.href}') #{menu.name}
            if (menu.sub)
              li
                ul.hidden-xs
                  each sub in menu.sub
                    li
                      a(href='#{sub.href}') #{sub.name}
    .row
      .col-sm-12
        hr
