ul#social-icons
  li
    a(href='https://twitter.com/ecmwf', target='_blank')
      i.fa.fa-twitter(aria-hidden='true')
  li
    a(href='https://www.facebook.com/pages/European-Centre-for-Medium-Range-Weather-Forecasts/108346845856630', target='_blank')
      i.fa.fa-facebook(aria-hidden='true')
  li
    a(href='https://plus.google.com/+ecmwf', target='_blank')
      i.fa.fa-google-plus(aria-hidden='true')
  li
    a(href='https://www.linkedin.com/company/ecmwf', target='_blank')
      i.fa.fa-linkedin(aria-hidden='true')
  li
    a(href='https://www.flickr.com/photos/ecmwf', target='_blank')
      i.fa.fa-flickr(aria-hidden='true')
